<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.springframework.security.web.util.matcher" level="WARN"/>
    <logger name="zipkin.reporter" level="ERROR"/>

    <!-- TODO: 处理好default:
        目前default当作与开发测试等同,正式上线应改为当作prod处理,到时删除下一行的default,加到prod行 -->
    <springProfile name="local,dev">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
        <logger name="org.springframework.web" level="DEBUG"/>
        <!--<logger name="org.springframework.security" level="DEBUG"/>-->

        <logger name="com.anilallewar.microservices" level="DEBUG"/>
        <!--<logger name="org.springframework.security.web.util.matcher" level="WARN"/>-->
        <!--<logger name="zipkin.reporter" level="ERROR"/>-->

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="default,prod,test">
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" /><!-- 仍然到stdout -->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>

        <logger name="org.springframework.security" level="WARN"/>
        <!--<logger name="org.springframework.security.web.util.matcher" level="WARN"/>-->
    </springProfile>
</configuration>